# Firebase Web Configuration for EWU Faculty Evaluation
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=faculty-evalution.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=faculty-evalution
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=faculty-evalution.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
